// This File is Automaticly Generated. Changes inside of this won't persist. For more Information Look into /home/snoweuph/Workspace/rice/rice-bowl
@theme "/home/snoweuph/Workspace/rice/rofi/themes/nord.rasi"

